body{
    
    color:rgba(34, 107, 243, 0.719);
    text-align : left;
    font-family : cursive;
    text-transform : 1px double;
    margin:6px;
    padding-inline: 3px;
}


#container{
    width: 70%;
    padding: 2em;
    text-align: left;
    border: 5px solid rgba(224, 27, 175, 0.74);
    font-size: 16px;
    margin: 0 auto;
}


#container h1{
    font-size: 20px
}

