body{
    
    color:rgb(30, 25, 54);
    text-align : left;
    font-family : "Arial";
}


#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(4, 39, 39);
    font-size: 16px;
    margin: 0 auto;
}


#container h1{
    font-size: 20px
}

