body{
    
    color:rgb(111, 98, 189);
    text-align : left;
    font-family : "Arial";
}


#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgba(85, 117, 204, 0.438);
    font-size: 16px;
    margin: 0 auto;
}


#container h1{
    font-size: 20px
}

